html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.layout {
  display: grid;
  grid-template-rows: 1fr 5fr 1fr;
  grid-template-columns: 1fr 3fr 1fr ;
  min-height: 100vh;
  background-color: #232931;
  color: white;
  font-family: sans-serif;
  gap: 40px;
}

.menu{
    background-color: #171818;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5;

}

.contenido{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;



}

.contenido form {
    display: grid;
    grid-template-columns: 1fr 1fr;


}



.contenido div{

    border: 1px solid #393F46;
    display: flex;
    flex-direction: column;
    align-items: center
}

.footer {
  background-color: #171818;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 5;
  display: flex;
  justify-content: center;
  align-items: center;

}

.goles{
    width: 40px;
}
.boton {
    grid-column-start: 1;
    grid-column-end: 3;
    height: 100px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.boton input{
    width: 70px;
    height: 60px;
    box-sizing:  border-box;
}

